.backgroundd {
  background-image: url('../img/dogPlane.jpg');
  display: flex;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  width: 100vh;
  height: 100vw;
  object-fit: cover;
  position: fixed;
  overflow: hidden;
  border: 0;
}

.buttonn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 445px;
  right: 638px;
  width: 90px;
  height: 40px;
  border-radius: 3px;
  letter-spacing: 1px;
  background: #fff;
  transition: all 0.2s linear;
  border-radius: 15px;
  cursor: pointer;
}

.button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
}

.button:hover > svg {
  font-size: 1.2rem;
  transform: translateX(-5px);
}

.button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

.button:active {
  background-color: #fff;
  transform: translateY(1px);
}

.title {
  position: relative;
  bottom: 90px;
  color: rgb(233, 231, 231);
  font-family: 'Times New Roman', Times, serif;
  font-size: 38px;
  text-decoration: none;
}

.card-containerr {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(6px);
  height: 95%;
  width: 27%;
  box-shadow: 0px 0px 15px -5px;
  border-radius: 20px;
  border: 0px solid rgb(0, 0, 0);
  position: relative;
  right: 40px;
}

.breed {
  position: relative;
  bottom: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: rgb(223, 223, 223);
  text-shadow: 2px 3px 4px #000000;
}

.breedInput {
  margin-left: 12px;
  text-align: center;
  background-color: rgb(230, 228, 228);
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  font-size: 18px;
  height: 30px;
  width: 200px;
}

.minHeight {
  position: relative;
  bottom: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(223, 223, 223);
  text-shadow: 2px 3px 4px #000000;
}

.minHeightInput {
  display: flex;
  text-align: center;
  margin-left: 12px;
  background-color: rgb(230, 228, 228);
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  font-size: 18px;
  height: 30px;
  width: 200px;
}

.maxHeight {
  position: relative;
  bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 5rem;
  font-size: 2rem;
  color: rgb(223, 223, 223);
  text-shadow: 2px 3px 4px #000000;
} 

.maxHeightInput {
  margin-left: 12px;
  text-align: center;
  background-color: rgb(230, 228, 228);
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  font-size: 18px;
  height: 30px;
  width: 200px;
}

.minWeight {
  position: relative;
  bottom: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(223, 223, 223);
  text-shadow: 2px 3px 4px #000000;
}

.minWeightInput {
  margin-left: 12px;
  text-align: center;
  position: relative;
  background-color: rgb(230, 228, 228);
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  font-size: 18px;
  height: 30px;
  width: 200px;
}

.maxWeight {
  position: relative;
  bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(223, 223, 223);
  text-shadow: 2px 3px 4px #000000;
}

.maxWeightInput {
  margin-left: 12px;
  text-align: center;
  background-color: rgb(230, 228, 228);
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  font-size: 18px;
  height: 30px;
  width: 200px;
}

.lifeSpan {
  position: relative;
  bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  font-size: 2rem;
  color: rgb(223, 223, 223);
  text-shadow: 2px 3px 4px #000000;
}

.lifeSpanInput {
  margin-left: 12px;
  text-align: center;
  background-color: rgb(230, 228, 228);
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  font-size: 18px;
  height: 30px;
  width: 200px;
}

.picture {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 5rem;
  font-size: 2rem;
  color: rgb(223, 223, 223);
  text-shadow: 2px 3px 4px #000000;
}

.pictureInput {
  margin-left: 12px;
  text-align: center;
  background-color: rgb(230, 228, 228);
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  font-size: 18px;
  height: 30px;
  width: 200px;
}

.createDogButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border: 2px solid rgb(136, 131, 131);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000;
  transition: 0.5s;
  border-radius: 0px;
  position: relative;
  left: 117px;
  top: 33px;
}

.createDogButton:active {
  background-color: rgb(245, 245, 245);
  transform: translateY(1px);
}

.listTemps {
  display: flex;
  align-items: center;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  left: 108px;
  top: 25px;
}

.temperamentsItems {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  right: 22px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #000000;
  position: relative;
  top: 25px;
}

.error {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(219, 216, 0);
}

.refreshh{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  position: relative;
  bottom: 435px;
  left: 560px;
  cursor: pointer;
  font-size: 28px;
  width: 2%;
  background-color: transparent;
  z-index: 1;
}

.refreshh .icon {
  width: 21px;
  height: 21px;
  transition: all 0.4s ease-in-out;
}

.refreshh:hover {
  transition-delay: 0s;
}

.refreshh:hover .icon {
  transform: rotate(360deg) scale(1);
}