.navBar {
  background-color: rgb(37, 50, 58, 0.5);
  background-repeat: no-repeat;
  height: 80px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.title {
  display: flex;
  flex-direction: column;
  max-width: 10%;
  justify-content: center;
  color: rgb(233, 231, 231);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  position: relative;
  margin: auto;
}

.Creation {
  display: flex;
  justify-content: right;
  position: relative;
  font-size: 25px;
  left: 1000px;
  bottom: 77px;
  color: rgb(233, 231, 231);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 18%;
}

.Fou {
  position: relative;
  top: 75px;
  opacity: 0.65;
  width: 230px;
}